body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
p{
    margin: 0px;
    padding: 0px;
}

/*header*/
nav{
    background-color: #03045e; /*former color rgb(238, 238, 238)*/
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    align-items: center;
    justify-content: start;
    width: 100%;
}

/*logo*/
.mainLogo{
    margin-left: 10px;
    margin-right: 20px;
}
.mainLogoContent{
    border-radius: 25px;
    width: 50px;
    cursor: pointer; 
}

/*menus*/
.buttonPhishing{
    width: 150px;
    color: #03045e;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: bold;
    transition: color .3s, background-color .3s;
    cursor: pointer;
}
.buttonPhishing:hover{
    background-color: rgb(165, 2, 2);
    color: rgb(236, 236, 236);
}
.buttonBenign{
    width: 150px;
    color: #03045e;
    padding: 10px 40px 10px 10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: bold;
    transition: color .3s, background-color .3s;
    cursor: pointer;
}
.buttonBenign:hover{
    background-color: rgb(3, 160, 55);
    color: rgb(236, 236, 236);
}

/*body*/
section{
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: row;
}
.container{
    padding: 0px 30px 0px 0px;
    margin-top: 20px;
    z-index: 1;
    flex: 1;
}
.title{
    font-weight: bold;
    font-size: 20px;
    color: #03045e;
}
.contentTable{
    z-index: 100;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius:5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.contentTable thead tr{
    background-color: #03045e;
    color: white;
    text-align: left;
    font-weight: bold;
}
.contentTable th,
.contentTable td{
    padding: 12px 15px;
}
.contentTable tbody tr{
    border-bottom: 1px solid #caf0f8;
}
.contentTable tbody tr:nth-of-type(even){
    background-color: #caf0f8;
    transition: background-color .3s, color .3s
}
.contentTable tbody tr:nth-of-type(odd){
    transition: background-color .3s, color .3s
}
.contentTable tbody tr:last-of-type{
    border-bottom: 3px solid #03045e;
}

.contentTable tbody tr:nth-of-type(even):hover{
    background-color: #0077b6;
    color: white;
}
.contentTable tbody tr:nth-of-type(odd):hover{
    background-color: #0077b6;
    color: white;
}

/*width of cells*/
.contentTable thead tr th:nth-child(3){
    width: 200px;
}
.contentTable thead tr th:nth-child(1){
    width: 100px;
}

/*right contents*/
.rightContainer{
    margin-top: 17px;
    width: 200px;
    padding: 20px;
    margin-right: 20px;
}

.box1{
    width: 200px;
    padding: 20px;
    background-color: #caf0f8;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}
.box2{
    margin-top: 30px;
    width: 200px;
    padding: 20px;
    background-color: #caf0f8;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.titleText{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #03045e;
}
.textBody{
    margin-bottom: 10px;
    color: #0077b6;
    line-height: 1.4;
    text-align: justify;
}
.backButton{
    cursor: pointer;
    border: none;
    background-color: #03045e;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
    transition: background-color .3s, color .3s;
}
.backButton:hover{
    background-color: #ececec;
    color: #03045e;
}

/*page numbers */
.pageNumber{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}
.number{
    margin: 0 5px;
    color: #03045e; 
    width: 30px;
    border-radius: 12px;
    padding: 4px;
    text-align: center;
    transition: background-color .3s, color .3s;
}
.numberText{
    margin: 0 5px;
    font-weight: bold;
    color: #03045e;
    width: 20px;
    text-align: center;
}
.buttonPrevious, .buttonNext{
    font-weight: bold;
    color: #03045e;
    width: 30px;
    margin: 0 5px;
    text-align: center;
    transition: background-color .3s, color .3s;
    padding: 4px;
    border-radius: 12px;
}
.numberActive{
    background-color: #0077b6;
    color: white;
    margin: 0 5px; 
    width: 30px;
    border-radius: 12px;
    padding: 4px;
    text-align: center;
}
.number:hover{
    background-color: #caf0f8;
    color: #03045e;
}
.buttonPrevious:hover{
    background-color: #caf0f8;
    color: #03045e;
}
.buttonNext:hover{
    background-color: #caf0f8;
    color: #03045e;
}

.containerRecentTable{
    width: 240px;
    margin-top: 30px;   
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    border-radius: 10px 10px 0 0;
}

.title2Table{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #03045e;
    margin: 0px;
    margin-left: 4px;
}
.recentTable{
    padding: 20px;
    background-color: #caf0f8;
    z-index: 100;
    border-collapse: collapse;
    margin: 0 0 10px 0;
    font-size: 0.9em;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.recentTable thead tr{
    background-color: #03045e;
    color: white;
    text-align: left;
    font-weight: bold;
}
.recentTable th,
.recentTable td{
    padding: 12px 15px;
}
.recentTable tbody tr{
    border-bottom: 1px solid #caf0f8;
}

.recentTable tbody tr:nth-of-type(even){
    background-color: #caf0f8;
    transition: background-color .3s, color .3s
}
.recentTable tbody tr:nth-of-type(odd){
    background-color: white;
    transition: background-color .3s, color .3s
}
.recentTable tbody tr:last-of-type{
    border-bottom: 3px solid #03045e;
}

.recentTable tbody tr:nth-of-type(even):hover{
    background-color: #0077b6;
    color: white;
}
.recentTable tbody tr:nth-of-type(odd):hover{
    background-color: #0077b6;
    color: white;
}

/*width of cells*/
.recentTable thead tr th:nth-child(1){
    width: 0%;
}

/*RESPONSIVE DESIGN*/

@media (max-width:419px){

    /*header*/
    .mainLogo .mainLogoContent{
        border-radius: 20px;
    width: 40px;
    }
    .menus .buttonPhishing{
        width: 100px;
        font-size: 10px;
    }
    .menus .buttonBenign{
        width: 100px;
        font-size: 10px;
    }


    /*body*/
    section{
        flex-direction: column;
        align-items: center;
    }

    .container{
        width: 100%;
        align-items: center;
        padding-right: 0px;
    }

    .container .title{
        font-size: 14px;
    }
    .contentTable{
        align-items: center;
        width: 100%;
        font-size: 10px;
    }

    .contentTable thead tr th:nth-child(1){
        width: 0px;
    }
    .contentTable thead tr th:nth-child(3){
        width: 70px;
    }

    .rightContainer{
        margin-top: -30px;
        width: 80%;
        align-items: center;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box1{
        width: 100%;
        padding: 20px;
    }
    .titleText{
        font-size: 13px;
    }
    .textBody{
        font-size: 11px;
    }
    .box2{
        width: 100%;
    }
    .box2 .backButton{
        margin-top: 20px;
        font-size: 10px;
    }

    /*recentTable*/
    .containerRecentTable{
        width: 100%;
    }

    .containerRecentTable .title{
        font-size: 12px;
    }
    .recentTable{
        width: 100%;
        font-size: 10px;
    }

    .contentTable thead tr th:nth-child(1){
        width: 0px;
    }

    /*page Numbers*/
    .pageNumber{
        padding-bottom: 0px;
    }
    .pageNumber .numberText{
        font-size: 10px;
    }
    .pageNumber .numberActive{
        font-size: 10px;
    }
    .pageNumber .number{
        font-size: 10px;
    }
    .pageNumber .buttonPrevious, .buttonNext{
        font-size: 10px;
    }


}
@media (min-width:420px) and (max-width:999px){

    /*header*/
    .mainLogo .mainLogoContent{
        border-radius: 16px;
    width: 32px;
    }
    .menus .buttonPhishing{
        width: 120px;
        font-size: 13px;
    }
    .menus .buttonBenign{
        width: 120px;
        font-size: 13px;
    }


    /*body*/
    section{
        flex-direction: column;
        align-items: center;
    }

    .container{
        width: 100%;
        align-items: center;
        padding-right: 0px;
        
    }

    .container .title{
        font-size: 16px;
    }


    .contentTable{
        align-items: center;
        width: 100%;
        font-size: 13px;
    }

    .contentTable thead tr th:nth-child(1){
        width: 0px;
    }
    .contentTable thead tr th:nth-child(3){
        width: 100px;
    }


    .rightContainer{
        margin-top: -10px;
        width: 80%;
        align-items: center;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box1{
        width: 100%;
    }
    .titleText{
        font-size: 16px;
    }
    .textBody{
        font-size: 13px;
    }
    .box2{
        width: 100%;
    }
    .box2 .backButton{
        margin-top: 30px;
        font-size: 13px;
    }

        /*recentTable*/
        .containerRecentTable{
            width: 100%;
        }
    
        .containerRecentTable .title{
            font-size: 14px;
        }
        .recentTable{
            width: 100%;
            font-size: 10px;
        }
    
        .contentTable thead tr th:nth-child(1){
            width: 0px;
        }




    /*page Numbers*/
    .pageNumber{
        padding-bottom: 0px;
    }
    .pageNumber .numberText{
        font-size: 13px;
    }
    .pageNumber .numberActive{
        font-size: 13px;
    }
    .pageNumber .number{
        font-size: 13px;
    }
    .pageNumber .buttonPrevious, .buttonNext{
        font-size: 13px;
    }

}
@media (min-width:1000px){


    /*search*/
    .searchContent::placeholder{
        font-size: 20px;
    }
    .button .buttonContent{
        font-size: 16px;
    }
    .logo .contentLogo{
        width: 150px;
    }
}